# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 15
    commit-message:
      prefix: "build"
    target-branch: "main"
    ignore:
      - dependency-name: "org.springframework.boot:spring-boot-starter-parent"
        versions: [">= 4.0.0"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 15
    commit-message:
      prefix: "build"
    target-branch: "main"
